@charset "UTF-8";
/** FONTS
 * Import fonts
*/

/*font-family: 'Spartan', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/** MAIN
 * Modif. dimmensions et font du fichier HTML
*/
body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

#main {
  width: 60%;
  margin: auto;
  background-color: transparent;
}

footer {
  background-color: #F8CF47;
  padding: 0 0 10px 0;
}

/** BALISES H
 * Modif. des balises titre <h>
*/
h1 {
  font-family: 'Spartan', sans-serif;
  color: #F8CF47;
  font-size: 2em;
  text-align: center;
  margin: 1em 0 1em 0;
}

h2 {
  font-family: 'Spartan', sans-serif;
  color: #F8CF47;
  font-size: 1.2em;
  margin: 1em 0 0 0;
}


h3 {
  font-size: 1em;
  margin: .5em 0 .1em 0;
}

/** STYLES
 * Modif. des styles d'importance
*/
p {
  margin: 0px;
  font-size: 1em;
  padding: .1em;
}

em {
  margin: 0px;
  font-size: 1em;
}

strong {
  margin: 0px;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  opacity: .8;
}

ul {
  margin: .5em 0 .1em 0;
  padding: 0 0 0 1em;
}

li {
  margin: .1em 0 0 0;
}

span {
  font-weight: 400; /* Police neutre */
}
/** PHOTOS
 * Insertion photo
 * Dimmensionnement photo
 * Affichage photo over all
*/
#photo_id {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url(../../assets/img/pp.jpg);
  z-index: 1;
  align-self: center;
  margin-top: -40%;
  margin-left: -5%;
  margin-bottom: 30px;
}

h3 > img {
  position: relative;
  top: 3px;
  width: 20px;
  height: 20px;
}
/** GRID
 * Définition et mise en place du GRID
 * Ajout de quelques flex
*/
#grid_container {
  display: grid;
  grid-template-columns: 1.8fr 3fr;
  grid-template-rows: 150px auto auto;
  grid-gap: 10px 5px;
  grid-template-areas: "hd hd" 
                      "cg cd";
}

#header {
  grid-area: hd;
  width: auto;
  background-image: url(../../assets/img/background.jpg);
}

#colonne_gauche {
  grid-area: cg;
  padding-left: 15px;
  padding-right: 10px;
  background-color: #F5F5F5;
  display: flex;
  flex-flow: column;
}

#colonne_droite {
  grid-area: cd;
  padding-left: 15px;
  padding-right: 10px;
  background-color: #FFFFFF;
  padding-bottom: 10px;
}

/** FLEX
 * Ajout des réseaux avec logos + liens
 * Ajout flex container
*/
.flex_container {
  display: flex;
  margin: 0 100px 0px 100px;
  justify-content: space-between;
}

.logo {
  position: relative;
  top: 5px;
}

button {
  background-color: transparent;
  border: none;
}